@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  *{
      font-family: "Poppins", sans-serif;

  }
  
  body {
    @apply bg-gray-50;
    font-family: 'Inter', sans-serif;
  }



}